* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.c1 {
    width: 300px;
}

.c2 {
    width: 1800px;
}

.c3 {
    width: 1800px;
}

.c4 {
    width: 1800px;
}

.c5 {
    width: 1400px;
}

.c6 {
    width: 1400px;
}

.c7 {
    width: 1800px;
}

.c8 {
    width: 1800px;
}

.c9 {
    width: 1800px;
}

.c10 {
    width: 1800px;
}

.c11 {
    width: 1800px;
}

.c12 {
    width: 1800px;
}

.c13 {
    width: 1400px;
}

.box1 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box2 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box3 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box4 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box5 {
    display:inline-block;
    margin: 200px;
    max-width: 300px;
}

.box6 {
    display: inline-block;
    margin: 200px;
    max-width: 300px;
}

.box7 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box8 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box9 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box10 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box11 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box12 {
    display: inline-block;
    margin: 87px;
    max-width: 300px;
}

.box13 {
    display: inline-block;
    margin: 200px;
    max-width: 300px;
}

.box1:last-child {
    margin-right: 0;
}

.box2:last-child {
    margin-right: 0;
}

.box3:last-child {
    margin-right: 0;
}

.box4:last-child {
    margin-right: 0;
}

.box5:last-child {
    margin-right: 0;
}

.box6:last-child {
    margin-right: 0;
}

.box7:last-child {
    margin-right: 0;
}

.box8:last-child {
    margin-right: 0;
}

.box9:last-child {
    margin-right: 0;
}

.box10:last-child {
    margin-right: 0;
}

.box11:last-child {
    margin-right: 0;
}

.box12:last-child {
    margin-right: 0;
}

.box13:last-child {
    margin-right: 0;
}

.card {
  color: black;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 520px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border-radius: 0px 0px 10px 10px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.footer {
    height: 300px;
    text-align: left;
}